body{

    background-color: #EFF1FD;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/* button transform */
a.btn{
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

a.btn:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Slightly enlarge */
}
/* button transform */



/* nav bar things */
.navbar .navbar-nav .nav-link {
    color: black;
    font-family: "Irish Grover", system-ui;
}

.sign-btn:hover{
    text-decoration: none;
    font-weight: bold;
}
.login:hover{
    font-weight: bold;
    text-decoration: none;
}
/* nav bar things */


/* Donation*/
.box-area{
    width: 930px;
}

/*Right box things*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*Right box things*/

.input-group{
    width: 85%;
}
/* Donation */






/* Footer section */
footer {
    background-color: #4D9B36;
}

p i{
    font-size: 20px;
}

a i{
    font-size: 26px;
}

a {
    color: white;  /* Default green color */
    transition: color 0.3s ease;
    text-decoration: none;
}

a:hover {
    color: #F7C240;  /* Bright Yellow on hover */
}
/* Footer section */


/* small screens*/

@media screen and (max-width: 768px){

    .box-area{
        margin: 0 10px;

    }
    .left-box{
        display: none !important; 
    }
    .right-box{
        padding: 20px;
    }

}
/* small screens*/